@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    font-size: 62.5%;
    --gray: rgba(150, 150, 150, 0.95);
    --pink: rgb(232, 109, 145);
    --white: rgb(245, 245, 245);
    --black: rgb(26, 26, 26);
    --green: rgba(58,140,12,255);
}

.bgimg{
    height: 100%;
    width: 100%;
    background-image: url("images/bgimg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /*ÄNDRA*/
}


/*NAV*/
nav {
    height: 18vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 30px;
}

.logotype {
    flex: 1;
    display: flex;
    justify-content: center;
}
.logo {
    border-radius: 50%;
    width: 40%;
    object-fit: cover;
}


/*PORTRAIT*/
.portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.portrait figcaption {
    font-size: 2rem;
    background-color: var(--pink);
    color: var(--white);
    padding: 10px;
    border-radius: 30%;
}
.porimg {
    width: 80%;
    padding: 5px;
    border-radius: 20%;
}

.profile {
    font-size: 1.5rem;
    padding: 15px;
    margin: 25px;
    border-radius: 10%;
    background-color: var(--pink);
    color: var(--white);
}